
#Created by Constraints Editor (xc3s100e-cp132-4) - 2015/06/18
NET "clk" TNM_NET = "clk";

NET "MR" LOC = G1;
NET "MY" LOC = P4;
NET "MG" LOC = N4;
NET "CR" LOC = P7;
NET "CY" LOC = M11;
NET "CG" LOC = M5;

NET "clk" LOC = B8;
NET "setLight" LOC = N5;
NET "onlineLight" LOC = P6;
NET "peak" LOC = G3;
NET "rst" LOC = N3;
NET "set" LOC = E2;
NET "online" LOC = F3;
NET "Cm" LOC = B4;
NET "Cc" LOC = K3;
NET "PQm" LOC = L3;
NET "PQc" LOC = P11;
NET "red" LOC = A7;
NET "green" LOC = C11;
NET "yellow" LOC = M4;
NET "oAn[0]" LOC = K14;
NET "oAn[1]" LOC = M13;
NET "oAn[2]" LOC = J12;
NET "oAn[3]" LOC = F12;
NET "oSeg[0]" LOC = L14;
NET "oSeg[1]" LOC = H12;
NET "oSeg[2]" LOC = N14;
NET "oSeg[3]" LOC = N11;
NET "oSeg[4]" LOC = P12;
NET "oSeg[5]" LOC = L13;
NET "oSeg[6]" LOC = M12;
NET "oSeg[7]" LOC = N13;
